$background: #f9f9f9;

$header-bg: #5da67f;
// $header-bg: #006e54;
// $sidebar-bg: #c4caa9;
$sidebar-bg: #BCAD90;
$gray: #f0f0f0;


// $green: #00C66A;
$green: #91966E;
$gray-green: #9DC4B2;

$thead-bg: #90c992;
$tbody-bg: #ebf0ea;
$thtd-bg: #889e89;


