<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>fieldsensing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/main.js"></script> 
</head>
<body>
    <header id="header" class="header">
        <div class="header-title">
            <ul class="title-name">
                <li class="name">
                    <h1><a href="">fieldsensing</a></h1>
                </li>
            </ul>
        </div>
    </header>
    <div id="main-login">
        <div class="login-form">
            <h2 class="form-title">LOGIN</h2>
            <form action="">
                <input type="email" class="input-email" placeholder="Email">
                <input type="password" class= "input-password" placeholder="Password">
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>