version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:latest

      - image: circleci/mysql:8
          environment:
            MYSQL_ROOT_PASSWORD: password

    working_directory: /go/src/github.com/Pluslab/fieldsensing
    steps:
      - checkout

      - run: go get -v -t -d ./...
      - run: go test -v ./...
