version: 2
jobs:
  build:
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      - run:
          name: docker-compose build
          command: make docker/build
      - run:
          name: make all
          command: make
      - run:
          name: make test
          command: make test
      - run:
          name: docker-compose down
          command: make docker/down