.container-addform {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 20px;
    
    .select:before {
        z-index: 1;
        position: absolute;
        right: 16px;
        top: 22px;
        content: "\f123";
        font-family: "IonIcons";
        line-height: 43px;
        color: #000;
        pointer-events: none;
    }
    .add-select {
        outline:none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        background: none transparent;
        vertical-align: middle;
        font-size: inherit;
        color: inherit;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 40px;
        padding: 8px 12px;
        border:1px solid #ddd;
        color:#828c9a;
        width:100%;
        border-radius:3px;
    }
    .addform-label {
        font-size: 1.2em; 
    }
    .addform-input {
        width: 100%;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        margin: 12px 0 24px;
        padding: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
    }
    input[type=checkbox] {
        margin-left: 20px;
    }
    button[type=submit]{
        color: #000;
        width: 100%;
        margin-top: 12px;
        border: none;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        padding: 10px;
        font-size: 1em;
    }

    @media screen and (min-width: 960px) {
        .container-addform {
            margin: 0;
            width: 500px;
        }
    }
}
    