@import "color";
@import "reset";

#header {
    background-color: $base-bg;
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: row;

    .header-title {
        margin-top: auto;
        margin-bottom: auto;
        h1 {
            color: #ff0;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 0.05;
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            a:visited {
                color: #fff;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    #header {
        height: 50px;
        #drawer-content {
            max-width: 250px;/*最大幅*/
            margin-top: 50px;
        }
        #drawer-close {
            top: 50px;
        }
        h1 {
            font-size: 25px;
            font-weight: 500;
            letter-spacing: 1.0px;
        }
    }
}
