<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>fieldsensing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/app.css" />
        <script src="../js/main.js"></script> 
    </head>
    <body>
        <header id="header" class="header">
            <div class="header-title">
                <ul class="title-name">
                    <li class="name">
                        <h1><a href="">fieldsensing</a></h1>
                    </li>
                </ul>
            </div>
        </header>
        <main class="main">
            <input type="checkbox" class="check" id="checked">
            <label class="menu-btn" for="checked">
                <span class="bar top"></span>
                <span class="bar middle"></span>
                <span class="bar bottom"></span>
            </label>
            <label class="close-menu" for="checked"></label>
            <nav class="drawer-menu wrap_menu_wrap">
                        <ul class="hm_list">
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Users</a>
                                    <label for="inbox1" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox1" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">New User</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Units</a>
                                    <label for="inbox2" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox2" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Units</a></li>
                                        <li><a href="">New Unit</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Fields</a>
                                    <label for="inbox3" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox3" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Fields</a></li>
                                        <li><a href="">New Field</a></li>
                                        <li><a href="">List Observation Positions</a></li>
                                        <li><a href="">New Observation Positions</a></li>
                                    </ul>
                                </div>
                            </div>  
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Plants</a>
                                    <label for="inbox4" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox4" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Plants</a></li>
                                        <li><a href="">New Plants</a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Observation Data</a>
                                    <label for="inbox5" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox5" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Observation Data</a></li>
                                        <li><a href="">New Observation Data</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Plants</a>
                                    <label for="inbox6" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox6" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Plants</a></li>
                                        <li><a href="">New Plants</a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Sensing Devices</a>
                                    <label for="inbox7" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox7" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Sensing Devices</a></li>
                                        <li><a href="">New Sensing Device</a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Vendors</a>
                                    <label for="inbox8" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox8" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Vendors</a></li>
                                        <li><a href="">New Vendors</a></li>
                                    </ul>
                                </div>
                            </div> 
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Sensing Device Status</a>
                                    <label for="inbox9" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox9" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Sensing Device Status</a></li>
                                        <li><a href="">New Sensing Device Status</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-drapdown">
                                <div class="drapdown-menu">
                                    <a href="">Sensors</a>
                                    <label for="inbox9" class="menu-childrenbox">▼</label> 
                                </div>
                                <input type="checkbox" id="inbox9" class="on-off" checked>
                                <div class="drapdown-children">
                                    <ul>
                                        <li><a href="">List Sensors</a></li>
                                        <li><a href="">New Sensors</a></li>
                                    </ul>
                                </div>
                            </div> 
                        </ul>
            </nav>
            <div class="main-container contents">
                <div class="container-users">
                    <h2 class="container-title">Users</h2>
                    <div class="users-table">
                        <table class="table-box">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>unit_id</th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>country</th>
                                    <th>administrator</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                </tr>
                                <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>