@import "color";

#main-login {
    background: -moz-linear-gradient(top, #57ca85, #006e54);
    background: -webkit-linear-gradient(top, #57ca85, #006e54);
    background: linear-gradient(to bottom, #57ca85, #006e54);
    height: 100vh;
    text-align: center;
}
.login-form {
    // margin: 0 auto;
    padding-top: 40px; 
   .form-title {
        margin: 20px;
        font-size: 2em;
        color: #fff;
    }
    form {
        width: 80%;
        margin: 0 auto;
        // padding: 40px;
    }
    input {
        font-size: 1.1em;
        width: 100%;
        height: 50px;
        margin-bottom: 16px;
        border: 2px solid $gray;
        border-radius: 5px;
        padding: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
    }
    input::placeholder {
        color: #c0c0c0;
    }
    button[type=submit]{
        background-color: #fff;
        color: #000;
        font-size: 1.1em;
        width: 100%;
        height: 50px;
        border: 2px solid $gray;
        border-radius: 5px;
        // box-shadow: 0px 0px 5px darken($gray, 15%);
    }
}

.error-message {
    background-color: #f00;
    color: #fff; 
    height: 30px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .login-form {
        form {
            width: 90%;
            // margin: 0 auto;
            // padding: 40px;
        }
    }
}

@media screen and (min-width: 960px) {
    .login-form {
        form {
            width: 300px;
            // margin: 0 auto;
        }
        input {
            height: 45px;
        }
        button[type=submit]{
            height: 45px;
        }
    }
}