body {
    overflow: hidden;
    .main-container {
        width: 100%;
        height: 100vh;
        .container-title {
            font-size: 1.8em;
            margin-bottom: 30px;
        }
    }
}