@import "color";

.container-users {
    width: 90%;
    .users-table {
        width: 100%;
        overflow: auto;
    }
    .table-box {
        width: 100%;
        border-collapse: collapse;
        thead {
            background-color: $thead-bg;
                // a {
                //     color: #fff;
                //     padding: 6px;
                //     text-decoration: none;
                // }
        }
        tbody {
            background-color: #fff;
            tr:nth-child(even) {
            background-color: $tbody-bg;
        }
        tr:nth-child(odd){
            background: #fff;
        }
                // a {
                //     color: #000;
                //     padding: 6px;
                //     text-decoration: none;
                // }
                // a:hover {
                //     color: #000;
                // }
                // a:visited {
                //     color: #000;
                // }
        }
        th,td {
            border: solid 1px $thtd-bg;
            padding: 12px;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
        }
    }
}



@media screen and (min-width: 480px) {
    .users-div {
        width: 420px;
    }
}

@media screen and (min-width: 600px) {
    .users-div {
        width: 550px;
    }
}

@media screen and (min-width: 600px) {
    .container-users {
        margin: 0;
    }
}